.body {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.task-body {
    display: flex;
    margin: 10px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 4%;
    background-color: grey;
    min-height: 500px;
    min-width: 80%;
}